/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.navbar {
    background-color: #007bff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #0056b3;
}

.content {
    padding: 20px;
    text-align: center;
}

.watchee-list {
    list-style-type: none;
    padding: 0;
}

.watchee-list li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.sub-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
}

.close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* 输入框样式 */
input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.watchee-list li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between; /* 保持左侧内容和右侧按钮组分开 */
    align-items: center;
}

/* 新增按钮组样式 */
.button-group {
    display: flex;
    justify-content: flex-end; /* 按钮组靠右对齐 */
    align-items: center;
}

button {
    margin-left: 10px; /* 在按钮之间添加一些间隔 */
}

.download-status {
    padding: 2px 4px;
    border-radius: 4px;
    color: #fff; /* 白色字体 */
    font-weight: bold;
}

.not-downloaded {
    background-color: #ffcc00; /* 亮黄色背景 */
}

.downloaded {
    background-color: #4CAF50; /* 绿色背景 */
}

.download-failed {
    background-color: #f44336; /* 红色背景 */
}
